<%-include("../../views/partials/userHeader")%>
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <!-- Form starts here -->
                     <%if(cart.length > 0){%>
                    
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cart.forEach(function(cartItem) { %>
                                    <tr>
                                        <td class="cart__product__item">
                                            <% if (cartItem.product && cartItem.product.productImage && cartItem.product.productImage.length > 0) { %>
                                                <img style="width: 100px;height: 100px;" src="/imgs/re-images/<%= cartItem.product.productImage[0] %>" alt="Product Image">
                                            <% } else { %>
                                                <p>No image available</p>
                                            <% } %>
                                            <div class="cart__product__item__title">
                                                <h6><%= cartItem.product ? cartItem.product.name : 'Unknown Product' %></h6>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <% if (cartItem.product && cartItem.product.stock === 0) { %>
                                                    <p style="color: red; font-size: 12px;">Out of stock</p>
                                                <% } %>
                                            </div>
                                        </td>
                                        <% if (cartItem.offerPrice > 0){%>
                                            <td class="cart__price"><%= cartItem.offerPrice %></td>
                                        <%}else{%>
                                        <td class="cart__price"><%= cartItem.price %></td>
                                        <%}%>
                                        <td class="cart__quantity">
                                            <div class="pro-qty">
                                                <% if (cartItem.offerPrice > 0){%>
                                                <input name="quantities[<%= cartItem._id %>]" type="number" class="quantity-input" data-price="<%= cartItem.offerPrice %>" data-max="<%= cartItem.product ? cartItem.product.quantity : 1 %>" value="<%= cartItem.quantity %>" min="1" max="<%= cartItem.product ? cartItem.product.quantity : 1 %>">
                                                <%}else{%>
                                                <input name="quantities[<%= cartItem._id %>]" type="number" class="quantity-input" data-price="<%= cartItem.price %>" data-max="<%= cartItem.product ? cartItem.product.quantity : 1 %>" value="<%= cartItem.quantity %>" min="1" max="<%= cartItem.product ? cartItem.product.quantity : 1 %>">
                                                <%}%>
                                            </div>
                                        </td>
                                        <% if (cartItem.offerPrice > 0){%>
                                        <td class="cart__total"><%= cartItem.offerPrice * cartItem.quantity %></td>
                                        <%}else{%>                                            
                                        <td class="cart__total"><%= cartItem.price * cartItem.quantity %></td>
                                        <%}%>



                                        <td class="cart__close">
                                            <a href="/removeFromCart?productId=<%=cartItem._id%>"><span class="icon_close"></span></a>
                                        </td>
                                    </tr>
                                <% }) %>                                
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn">
                                    <a href="#">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn update__btn">
                                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="discount__content">
                                <form action="/applyCoupon" method="post" onsubmit="updateCartDataBeforeSubmit()">
                                    <h6>Discount codes</h6>
                                    <input type="text" name="couponCode" placeholder="Enter your coupon code" value="<%= couponCode || '' %>">
                                    <button style="margin-top: 25px;" type="submit" class="site-btn">Apply</button>
                                </form>
                                <% if (errorMessage) { %>
                                    <div style="width:400px;" class="alert alert-danger">
                                        <%= errorMessage %>
                                    </div>
                                <% } %>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-2">
                                <form action="/selectAddress" method="post">
                                    <div class="cart__total__procced">
                                      <h6>Cart total</h6>
                                      <ul>
                                        <li>Subtotal <span>$<%= totalPrice.toFixed(2) %></span></li>
                                        <% if (discountValue && discountValue > 0) { %>
                                            <li>Discount <span>-$<%= discountValue.toFixed(2) %></span></li>
                                            <li>Total <span>$<%= (totalPrice - discountValue).toFixed(2) %></span></li>
                                        <% } else { %>
                                            <li>Total <span>$<%= totalPrice.toFixed(2) %></span></li>
                                        <% } %>
                                    </ul>                                                                           
                                      <button type="submit" class="primary-btn">Proceed to checkout</button>
                                    </div>
                                  </form>
                            </div>                            
                        </div>
                   
                    <%}else{%>
                        <div style="height: 400px;text-align: center;">
                            <img style="width: 150px;height: 150px;" src="/img/cart.png" alt="">
                            <h3>Your Cart Is Empty</h3><br>
                            <h6>This feels too light! Go on, Add all your<br> favorites</h6><br>
                            <a href="/shop"><button type="submit" class="site-btn">Start Shopping</button></a>
                        </div>
                        <%}%>
                    <!-- Form ends here -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
<script>
    // Function to update cart totals
    function updateCartTotal() {
        let subtotal = 0;
        document.querySelectorAll('.cart__total').forEach(function(totalElement) {
            subtotal += parseFloat(totalElement.textContent);
        });
    
        // Retrieve discount value from backend
        const discountValue = parseFloat('<%= discountValue || 0 %>'); 
        const total = subtotal - discountValue; // Apply discount to subtotal
    
        // Update subtotal and total in the UI
        document.querySelector('.cart__total__procced ul li:nth-child(1) span').textContent = '$ ' + subtotal.toFixed(2);
        document.querySelector('.cart__total__procced ul li:last-child span').textContent = '$ ' + total.toFixed(2);
    }
    
    // Function to save cart data to localStorage
    function saveCartToLocalStorage() {
        let cartData = [];
        document.querySelectorAll('.quantity-input').forEach(function(input) {
            const cartItemId = input.name.split('[')[1].split(']')[0];
            const quantity = input.value;
    
            // Save each cart item's ID and updated quantity
            cartData.push({ id: cartItemId, quantity: quantity });
        });
    
        // Save cart data array as JSON in localStorage
        localStorage.setItem('cartData', JSON.stringify(cartData));
    }
    
    // Event listener to handle quantity change and update the cart
    document.querySelectorAll('.quantity-input').forEach(function(input) {
        input.addEventListener('change', function() {
            var max = parseInt(this.getAttribute('data-max'));
            var price = parseFloat(this.getAttribute('data-price'));
            var value = parseInt(this.value);
    
            // Prevent value from exceeding max quantity
            if (value > max) {
                alert('Quantity exceeds available stock!');
                this.value = max;
                value = max;
            }
    
            // Prevent value from going below 1
            if (value < 1) {
                this.value = 1;
                value = 1;
            }
    
            // Update the individual product total price in the UI
            var row = this.closest('tr');
            var productTotal = row.querySelector('.cart__total');
            productTotal.textContent = (price * value).toFixed(2); 
    
            // Update the cart total price
            updateCartTotal();
    
            // Save the updated cart data to localStorage
            saveCartToLocalStorage();
    
            // Only send the update to the backend if the quantity changed
            const cartItemId = this.name.split('[')[1].split(']')[0];
            const updatedQuantity = value;
    
            // Send the update to the backend
            fetch(`/updateCart/${cartItemId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity: updatedQuantity }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update UI with new total price from the backend if needed
                    updateCartTotal();
                } else {
                    console.error('Error:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
    
    // Function to load cart data from localStorage on page load
    window.onload = function() {
        const savedCartData = JSON.parse(localStorage.getItem('cartData')) || [];
        
        // Update the cart UI with the saved data
        savedCartData.forEach(function(item) {
            const quantityInput = document.querySelector(`input[name="quantities[${item.id}]"]`);
            if (quantityInput) {
                quantityInput.value = item.quantity; // Update quantity input field
            }
        });
    
        // Update subtotal and total in UI
        updateCartTotal(); // Call this to ensure totals are updated on load
    };
    
    // Function to update cart data in form submission when applying coupon
    function updateCartDataBeforeSubmit() {
        const cartData = localStorage.getItem('cartData');
        const discountValue = parseFloat('<%= discountValue || 0 %>'); 
        updateCartTotal(); // Ensure the totals are updated before submission
    
        // Assuming you have an input to send this value to the backend if necessary
        document.getElementById('cartDataInput').value = cartData; 
        document.getElementById('discountValueInput').value = discountValue; // Set the discount value to be sent
    }
    
    </script>
    

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>