<%-include("../../views/partials/userHeader")%>
<style>
    /* Lighter semi-transparent modal background */
    .custom-light-modal {
        background-color: rgba(255, 255, 255, 0.9);
        color: #000;
        backdrop-filter: blur(3px);
    }

    .custom-light-modal .modal-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .custom-light-modal .modal-body {
        padding: 20px;
    }

    /* Coupon container to hold the coupon boxes */
    .coupon-container {
        display: flex;
        flex-wrap: wrap; /* Allows the boxes to wrap to the next line */
        justify-content: center; /* Center-aligns the boxes */
    }

    /* Style for each coupon box */
    .coupon-box {
        border: 1px solid black; /* Black border */
        margin: 10px; /* Space between boxes */
        padding: 10px; /* Padding inside the box */
        width: calc(45% - 20px); /* Two boxes per row with space */
        text-align: center; /* Center-align text */
    }

    /* Styles for coupon name and description */
    .coupon-name {
        font-weight: bold;
        font-size: large; /* Adjust size as needed */
    }

    .coupon-description {
        font-size: medium; /* Adjust size as needed */
        color: #555; /* Slightly lighter color for description */
    }

    /* Lighter modal backdrop */
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>



<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <!-- Form starts here -->
                     <%if(cart.length > 0){%>
                    
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cart.forEach(function(cartItem) { %>
                                    <tr>
                                        <td class="cart__product__item">
                                            <% if (cartItem.product && cartItem.product.productImage && cartItem.product.productImage.length > 0) { %>
                                                <img style="width: 100px;height: 100px;" src="/imgs/re-images/<%= cartItem.product.productImage[0] %>" alt="Product Image">
                                            <% } else { %>
                                                <p>No image available</p>
                                            <% } %>
                                            <div class="cart__product__item__title">
                                                <h6><%= cartItem.product ? cartItem.product.name : 'Unknown Product' %></h6>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <% if (cartItem.product && cartItem.product.stock === 0) { %>
                                                    <p style="color: red; font-size: 12px;">Out of stock</p>
                                                <% } %>
                                            </div>
                                        </td>
                                        <% if (cartItem.offerPrice > 0){%>
                                            <td class="cart__price"><%= cartItem.offerPrice %></td>
                                        <%}else{%>
                                        <td class="cart__price"><%= cartItem.price %></td>
                                        <%}%>
                                        <td class="cart__quantity">
                                            <div class="pro-qty">
                                                <% if (cartItem.offerPrice > 0){%>
                                                <input name="quantities[<%= cartItem._id %>]" type="number" class="quantity-input" data-price="<%= cartItem.offerPrice %>" data-max="<%= cartItem.product ? cartItem.product.quantity : 1 %>" value="<%= cartItem.quantity %>" min="1" max="<%= cartItem.product ? cartItem.product.quantity : 1 %>">
                                                <%}else{%>
                                                <input name="quantities[<%= cartItem._id %>]" type="number" class="quantity-input" data-price="<%= cartItem.price %>" data-max="<%= cartItem.product ? cartItem.product.quantity : 1 %>" value="<%= cartItem.quantity %>" min="1" max="<%= cartItem.product ? cartItem.product.quantity : 1 %>">
                                                <%}%>
                                            </div>
                                            <div class="error-message" style="color: red; font-size: 12px; display: none;"></div>
                                        </td>
                                        <% if (cartItem.offerPrice > 0){%>
                                        <td class="cart__total"><%= cartItem.offerPrice * cartItem.quantity %></td>
                                        <%}else{%>                                            
                                        <td class="cart__total"><%= cartItem.price * cartItem.quantity %></td>
                                        <%}%>



                                        <td class="cart__close">
                                            <a href="/removeFromCart?productId=<%=cartItem._id%>"><span class="icon_close"></span></a>
                                        </td>
                                    </tr>
                                <% }) %>                                
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn">
                                    <a href="#">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn update__btn">
                                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="discount__content">
                                <form action="/applyCoupon" method="post" onsubmit="updateCartDataBeforeSubmit()">
                                    <h6>Discount codes</h6>
                                    <input type="text" name="couponCode" placeholder="Enter your coupon code" value="<%= couponCode || '' %>">
                                    <button style="margin-top: 30px;background: rgb(187, 13, 13);;" type="submit" class="site-btn">Apply</button>
                                </form>                                          
                                <% if (errorMessage) { %>
                                    <div class="error-message" id="couponError" style="color: red; font-size: 12px;">
                                        <%= errorMessage %>
                                    </div>
                                <% } %>
                               <div>
                                <i class="fas fa-tag" style="margin-right: 10px;"> 
                                <button style="border: none; outline: none; background-color: transparent; color: #000; font-size: large; box-shadow: none;" type="button" class="btn btn-link" data-toggle="modal" data-target="#couponModal">Show Available Coupons</button>
                                </i><!-- <p style="color: rgb(209, 9, 109);">Collect Now And Save Extra</p> -->
                               </div>

                               <!-- Coupon Modal with light background -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content custom-light-modal">
            <div style="text-align: center;" class="modal-header">
                <h5 style="margin-left: 33%; font-weight: bold;" class="modal-title" id="couponModalLabel">Copy To Use <span class="fas fa-tag"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="coupon-container">
                    <% availableCoupons.forEach(function(coupon) { %>
                        <div class="coupon-box">
                            <p class="coupon-name"><span style="font-size: smaller;color: rgb(176, 173, 173);">CODE-</span> <%= coupon.couponCode %></p>
                            <p class="coupon-description"><%= coupon.description %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-2">
                                <form action="/selectAddress" method="get" id="checkoutForm">
                                    <input type="hidden" id="cartItemsData" name="cartItemsData">
                                    <input type="hidden" id="updatedTotalAmount" name="updatedTotalAmount">
                                    <div class="cart__total__procced">
                                        <h6>Cart total</h6>
                                        <ul>
                                            <li>Subtotal <span>$<%= totalPrice.toFixed(2) %></span></li>
                                            <% if (discountValue && discountValue > 0) { %>
                                                <li>Discount <span>-$<%= discountValue.toFixed(2) %></span></li>
                                                <li>Total <span>$<%= (totalPrice - discountValue).toFixed(2) %></span></li>
                                            <% } else { %>
                                                <li>Total <span>$<%= totalPrice.toFixed(2) %></span></li>
                                            <% } %>
                                        </ul>                                                                           
                                        <button style="background: rgb(187, 13, 13);" type="submit" class="primary-btn">Proceed to checkout</button>
                                    </div>
                                </form>                                                               
                            </div>                            
                        </div>
                   
                    <%}else{%>
                        <div style="height: 400px;text-align: center;">
                            <img style="width: 150px;height: 150px;" src="/img/cart.png" alt="">
                            <h3>Your Cart Is Empty</h3><br>
                            <h6>This feels too light! Go on, Add all your<br> favorites</h6><br>
                            <a href="/shop"><button type="submit" class="site-btn">Start Shopping</button></a>
                        </div>
                        <%}%>
                    <!-- Form ends here -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->


<script>
function updateCartTotal() {
    let subtotal = 0;
    document.querySelectorAll('.cart__total').forEach(function(totalElement) {
        subtotal += parseFloat(totalElement.textContent);
    });

    // Calculate the total with discount
    const discountValue = parseFloat('<%= discountValue || 0 %>');
    const total = subtotal - discountValue; // Apply discount to subtotal

    // Update UI
    document.querySelector('.cart__total__procced ul li:nth-child(1) span').textContent = '₹ ' + subtotal.toFixed(2);
    document.querySelector('.cart__total__procced ul li:last-child span').textContent = '₹ ' + total.toFixed(2);

    // Update hidden inputs for form submission
    document.getElementById('updatedTotalAmount').value = total.toFixed(2);
}


    
    // Function to save cart data to localStorage
    function saveCartToLocalStorage() {
        let cartData = [];
        document.querySelectorAll('.quantity-input').forEach(function(input) {
            const cartItemId = input.name.split('[')[1].split(']')[0];
            const quantity = input.value;
    
            // Save each cart item's ID and updated quantity
            cartData.push({ id: cartItemId, quantity: quantity });
        });
    
        // Save cart data array as JSON in localStorage
        localStorage.setItem('cartData', JSON.stringify(cartData));
    }
    
    // Event listener to handle quantity change and update the cart
    document.querySelectorAll('.quantity-input').forEach(function(input) {
        input.addEventListener('change', function() {
            var max = parseInt(this.getAttribute('data-max'));
            var price = parseFloat(this.getAttribute('data-price'));
            var value = parseInt(this.value);
    

        var errorMessageContainer = this.closest('td').querySelector('.error-message');
         // Clear previous error messages
        errorMessageContainer.style.display = 'none';
        errorMessageContainer.textContent = '';

            if (value >= max) {
            errorMessageContainer.textContent = 'Quantity exceeds available stock!';
            errorMessageContainer.style.display = 'block';
            this.value = max;
            value = max;
           }

            // Prevent value from exceeding max quantity
            if (value > max) {
                alert('Quantity exceeds available stock!');
                this.value = max;
                value = max;
            }
    
            // Prevent value from going below 1
            if (value < 1) {
                this.value = 1;
                value = 1;
            }
    
            // Update the individual product total price in the UI
            var row = this.closest('tr');
            var productTotal = row.querySelector('.cart__total');
            productTotal.textContent = (price * value).toFixed(2); 
    
            // Update the cart total price
            updateCartTotal();
    
            // Save the updated cart data to localStorage
            saveCartToLocalStorage();
    
            // Only send the update to the backend if the quantity changed
            const cartItemId = this.name.split('[')[1].split(']')[0];
            const updatedQuantity = value;
    
            // Send the update to the backend
            fetch(`/updateCart/${cartItemId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity: updatedQuantity }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update UI with new total price from the backend if needed
                    updateCartTotal();
                } else {
                    console.error('Error:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
    
    // Function to load cart data from localStorage on page load
    window.onload = function() {
        const savedCartData = JSON.parse(localStorage.getItem('cartData')) || [];
        
        // Update the cart UI with the saved data
        savedCartData.forEach(function(item) {
            const quantityInput = document.querySelector(`input[name="quantities[${item.id}]"]`);
            if (quantityInput) {
                quantityInput.value = item.quantity; // Update quantity input field
            }
        });
    
        // Update subtotal and total in UI
        updateCartTotal(); // Call this to ensure totals are updated on load
    };
    
// Function to update cart data in form submission when applying coupon
function updateCartDataBeforeSubmit() {
    let cartData = [];
    document.querySelectorAll('.quantity-input').forEach(function(input) {
        const cartItemId = input.name.split('[')[1].split(']')[0];
        const quantity = input.value;
        cartData.push({ id: cartItemId, quantity: quantity });
    });
    
    // Save the cart data to the hidden input
    document.getElementById('cartItemsData').value = JSON.stringify(cartData);
    updateCartTotal(); // Ensure totals are updated before submission
}

// Event listener to handle quantity change
document.querySelectorAll('.quantity-input').forEach(function(input) {
    input.addEventListener('change', function() {
        var max = parseInt(this.getAttribute('data-max'));
        var price = parseFloat(this.getAttribute('data-price'));
        var value = parseInt(this.value);
        
        // Handle quantity validation
        if (value > max) {
            this.value = max;
            value = max;
        }
        if (value < 1) {
            this.value = 1;
            value = 1;
        }

        // Update individual product total price
        var row = this.closest('tr');
        var productTotal = row.querySelector('.cart__total');
        productTotal.textContent = (price * value).toFixed(2);

        // Update cart total price
        updateCartTotal();
        saveCartToLocalStorage(); // Save changes
    });
});

    


    </script>
    <!-- Include Bootstrap's JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%-include("../../views/partials/userFooter")%>
