<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Payment Method</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
 <!-- Css Styles -->
 <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
 <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
 <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
 <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
 <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
 <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
 <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
 <link rel="stylesheet" href="css/style.css" type="text/css">

 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">

 <!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   
 <style>
       header {
 position: fixed;  /* Fix the header at the top */
 top: 0;          /* Align it to the top */
 left: 0;         /* Align it to the left */
 width: 100%;     /* Full width */
 z-index: 1000;   /* Ensure it stays above other content */
 background-color: white; /* Set a background color to prevent transparency */
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
}
     .dropdown {
position: relative;
}

.dropdown-toggle {
cursor: pointer;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
background-color: #fff;
border: 1px solid #ddd;
padding: 10px;
display: none;
}

.dropdown-menu li {
margin-bottom: 10px;
}

.dropdown-menu li a {
color: #000000;
text-decoration: none;
}

.dropdown-menu li a:hover {
color: #000000;
}

.dropdown:hover .dropdown-menu {
display: block;
}
.wishlist-icon {
 color: red; /* Set heart icon color to red */
 font-size: 24px; /* Adjust size if necessary */
 transition: color 0.3s; /* Optional: Adds a transition effect */
}

/* Optional: Change color on hover */
.wishlist-icon:hover {
 color: darkred; /* Change to a darker red on hover */
}

li {
 text-decoration: none;
}
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        h1 {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            color: #6c757d;
        }

        .stepper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }

        .step {
            display: flex;
            align-items: center;
            /* padding: 0 10px; */
            margin: -14px;
        }

        .step .circle {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background:rgb(187, 13, 13);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
        }

        .step .line {
            width: 50px;
            height: 3px;
            background-color: #ccc;
            margin: 0 5px;
        }

        .step.active .line {
            background:rgb(187, 13, 13);
        }

        .step.active .circle {
            background:rgb(187, 13, 13);
        }

        .step.completed .circle {
            background:rgb(187, 13, 13);
        }

        .payment-method-card {
            border: 1px solid #ebebeb;
            border-radius: 8px;
            padding: 20px;
            background-color: #fff;
            margin-bottom: 20px;
        }

        .payment-method-card input[type="radio"] {
            margin-right: 10px;
        }

        .btn-primary {
    background-color: #dc9494 !important; /* Light Pink when button is enabled */
    border-color: #dc9494 !important;
    color: #fff !important;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

.btn-primary:disabled {
    background: #dc9494!important; /* Gray when button is disabled */
    border-color: #dc9494 !important;
    color: #fff !important; /* Ensures text color is white */
    cursor: not-allowed !important; /* Show that button is not clickable */
    opacity: 1 !important; /* Ensure visibility */
}

.btn-primary.active {
    background:rgb(187, 13, 13) !important; /* Dark Pink when button is active */
    border-color: #ca1515 !important;
    color: #fff !important;
}


        #preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #ffffff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}


@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
@media (max-width: 768px) {
    header {
        padding: 10px 0; /* Reduce header padding */
    }
    
    .header__menu ul {
        flex-direction: column; /* Stack the menu items vertically */
        align-items: flex-start; /* Align menu items to start */
    }

    .header__menu ul li {
        margin: 10px 0; /* Space between menu items */
    }

    .stepper {
        /* flex-direction: column; Stack steps vertically */
        align-items: center; /* Center align steps */
    }

    .payment-method-card {
        margin: 10px; /* Add margin to cards */
        padding: 15px; /* Adjust padding for mobile */
    }

    h1 {
        font-size: 1.5rem; /* Smaller heading on mobile */
    }

    p {
        font-size: 0.9rem; /* Smaller paragraph text */
    }

    .btn-primary {
        width: 100%; /* Full width buttons */
    }
}
header {
    position: fixed;  /* Fix the header at the top */
    top: 0;          /* Align it to the top */
    left: 0;         /* Align it to the left */
    width: 100%;     /* Full width */
    z-index: 1000;   /* Ensure it stays above other content */
    background-color: white; /* Set a background color to prevent transparency */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
}
        .dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li a {
  color: #000000;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #000000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.wishlist-icon {
    color: red; /* Set heart icon color to red */
    font-size: 24px; /* Adjust size if necessary */
    transition: color 0.3s; /* Optional: Adds a transition effect */
}

/* Optional: Change color on hover */
.wishlist-icon:hover {
    color: darkred; /* Change to a darker red on hover */
}

li {
    text-decoration: none;
}

body {
    padding-top: 65px; /* Adjust this value based on the header's height */
}
.header__search .search-icon {
    background-color: lightgray; /* Background color of the icon box */
    border-radius: 0 1px 1px 0; /* Rounded corners */
    display: flex;               /* Center the icon vertically */
    align-items: center;        /* Center the icon vertically */
    padding: 5px;              /* Padding around the icon */
}

.header__search input {
    border: solid gray; 
    border-width: 0.5px; 
    border-radius: 1px 0 0 1px; /* Round the left corners to match */
    height: 35px; 
    width: 800px; 
    border-color: rgb(11, 10, 10);
}
.profile-logo {
    font-size: 30px;  /* Adjust size as needed */
    display: block;    /* Make it a block element */
    margin: 0 auto 5px; /* Center it and add space below */
    color: #333; /* Set a color for the icon */
}

.profile-text {
    display: block; /* Ensure text is below the icon */
    text-align: center; /* Center the text */
    font-weight: bold; /* Optional: make text bold */
}

/* Hides the dropdown arrow */
.dropdown-toggle::after {
    display: none; /* Hides the default dropdown arrow */
}
.profile-logo {
    font-size: 30px;  /* Adjust size as needed */
    display: block;    /* Make it a block element */
    margin: 0 auto 5px; /* Center it and add space below */
    color: #333; /* Set a color for the icon */
}

.profile-text {
    display: block; /* Ensure text is below the icon */
    text-align: center; /* Center the text */
    font-weight: bold; /* Optional: make text bold */
}
.header__right__auth a,
.header__right__widget a {
    text-decoration: none;  /* Remove underlines */
    color: inherit;         /* Maintain the default text color */
    color: #000000;
}

.header__right__auth a:hover,
.header__right__widget a:hover {
    color: inherit;         /* No color change on hover */
    background-color: transparent; /* No background color on hover */
    color: #4b4949;
}
    </style>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.9/sweetalert2.min.css">
</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
 <!-- Breadcrumb Begin -->
 <div class="breadcrumb-option" style="padding-top: 118px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a style="text-decoration: none;" href="/shop">Shop</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <% if (locals.user) { %>
            <li>
                <!-- <div class="dropdown" style="display: flex; flex-direction: column; align-items: center;"> -->
                    <a href="/userProfile"><i class="fas fa-user-circle profile-logo"></i></a>
                    <span class="profile-text"><a href="/userProfile"> <%= locals.user.name %></a></span>
                    
                <!-- </div> -->
            </li> 
            <!-- <li></li>            -->
            <li class="wishlist"  style="display: inline-block; flex-direction: column; align-items: center;"> <!-- Use margin-left: auto to push these items to the right -->
                <a href="/wishlist">
                    <span class="icon_heart_alt"></span>
                    <!-- <div class="tip">2</div> -->
                </a>
                <a href="/cart">
                    <span class="icon_bag_alt"></span>
                    <!-- <div class="tip">2</div> -->
                </a>
            </li>
        <% } else { %>
            <li>
                <div class="dropdown">
                    <i class="fas fa-user-circle profile-logo"></i>
                   <a href="/userProfile"><span class="profile-text">Profile</span></a> 
                   <a href="/wishlist">
                    <span class="icon_heart_alt"></span>
                    <!-- <div class="tip">2</div> -->
                </a>
                <a href="/cart">
                    <span class="icon_bag_alt"></span>
                    <!-- <div class="tip">2</div> -->
                </a>
                    <div class="dropdown-content">
                        <a href="/login">Log In</a><br>
                        <a href="/signup">Sign Up</a>                    
                    </div>
                </div>
            </li>
        <% } %>
         <!-- New navigation links for mobile -->
         <ul class="offcanvas-nav d-lg-none" > <!-- Only show on mobile -->
            <li>
                <p style=" display: flex; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/"><i class="fas fa-home"></i>Home</a>
                </p>
            </li>
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/shop"><i class="fas fa-shop"></i>Shop</a>
                </p>
            </li>
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/wallet"><i class="fas fa-wallet"></i>Wallet</a>
                </p>
            </li>
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/blog"><i class="fas fa-blog"></i>Blog</a>
                </p>
            </li>
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/contact"><i class="fas fa-phone"></i>Contact</a>
                </p>
            </li>
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/orders"><i class="fas fa-shopping-cart"></i>Orders</a>
                </p>
            </li>
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                </p>
            </li>
            
            <li>
                <p style="margin: 10px 0; align-items: start;">
                    <span style="margin-right: 5px;"></span>
                    <a style="text-decoration: none; color: black; font-size: medium; font-weight: bold;"  href="/reset-password"><i class="fas fa-set"></i>Reset Password</a>
                </p>
            </li>
        </ul>
        
    </ul>
</div>

    
    
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/" style="width: 100px;height: 100px;"><img src="img/preview2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="header__search" style="display: flex; align-items: center;">
                                <form action="/shop" method="get" class="search-form" style="display: flex; align-items: center; width: 100%;">
                                    <input style="border: solid gray; border-width: 0.5px; border-radius: 1px 0 0 1px; height: 35px; width: 800px;" 
                                           type="text" name="search" placeholder="Search for products..." aria-label="Search">
                                    <div class="search-icon" style="background-color: lightgray; border-radius: 0 1px 1px 0; padding: 5px;">
                                        <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">
                                            <span class="icon_search"></span>
                                        </button>
                                    </div>
                                </form>
                            </li>                            
                            <li style="margin-left: 45px;"> <p style="font-size: smaller;"><a style="text-decoration: none;font-size: small;margin: 15px;" href="/">Home</a></p></li>
                            <li> <p style="font-size: smaller;"><a style="text-decoration: none;font-size: small;margin: 15px;" href="/shop">Shop</a></p></li>
                            <li> <p style="font-size: smaller;"><a style="text-decoration: none;font-size: small;margin: 15px;" href="/shop?categoryName=Women">Women</a></p></li>
                            <li> <p style="font-size: smaller;"><a style="text-decoration: none;font-size: small;margin: 15px;" href="/shop?categoryName=Men">Men</a></p></li>
                            <li> <p style="font-size: smaller;"><a style="text-decoration: none;font-size: small;margin: 15px;" href="/blog">Blog</a></p></li>
                            <li> <p style="font-size: smaller;"><a style="text-decoration: none;font-size: small;margin: 15px;" href="/contact">Contact</a></p></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 d-none d-lg-block"> <!-- Hide on mobile -->
                    <div class="header__right" style="padding: 21px 0 27px; display: flex; align-items: center; justify-content: flex-end;margin-right: 30px;">
                        <div class="header__right__auth" style="text-align: center; margin-right: 5px; margin-left: -10px;">
                            <% if (locals.user) { %>
                                <div class="dropdown">
                                    <a href="#" class="sign-in-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: block; margin-top: 5px;">
                                        <span class="fas fa-user-circle" style="font-size: 20px; display: block; margin: 0 auto; margin-bottom: 2px;"></span>
                                        <%= locals.user.name %>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a href="/userProfile">Profile</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        <li><a href="/wallet">Wallet</a></li>
                                        <li><a href="/orders">Orders</a></li>
                                        <li><a href="/orders">Reset Password</a></li>
                                    </ul>
                                </div>
                            <% } else { %>
                                <div class="dropdown">
                                    <a href="#" class="sign-in-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-user-circle" style="font-size: 20px; margin-bottom: 12px;"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a href="/login">Log In</a></li>
                                        <li></li>
                                        <li><a href="/Signup">Sign Up</a></li>
                                    </ul>
                                </div>
                            <% } %>
                        </div>
                        <ul class="header__right__widget" style="display: flex; align-items: flex-start; margin: 0; padding: 0;">
                            <li style="margin: 0 2px; margin-top: -9px; margin-left: -5px;">
                                <a href="/wishlist">
                                    <span class="icon_heart_alt"></span>
                                </a>
                            </li>
                            <li style="margin: 0 2px; margin-top: -9px; margin-left: 10px;">
                                <a href="/cart">
                                    <span class="icon_bag_alt"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
<!-- Header Section End -->


<div class="container">
    <div class="stepper">
        <div class="step completed">
            <div class="circle">✓</div>
            <span>Sign Up</span>
            <div class="line active"></div>
        </div>
        <div class="step completed">
            <div class="circle">✓</div>
            <span>Address</span>
            <div class="line active"></div>
        </div>
        <div class="step active">
            <div class="circle">3</div>
            <span>Payment</span>
        </div>
    </div>

    <h1>Choose Payment Method</h1>
    <p>Select a payment method to proceed with your purchase</p>
    
    <form action="/proceedOrder?subtotal=<%= totalPrice%>" method="post">
        <div class="row">
            <div class="col-md-8">
                <!-- <div class="payment-method-card">
                    <input type="radio" id="creditCard" name="paymentMethod" value="creditCard">
                    <label for="creditCard">Credit Card</label>
                </div>
                <div class="payment-method-card">
                    <input type="radio" id="bankTransfer" name="paymentMethod" value="bankTransfer">
                    <label for="bankTransfer">Bank Transfer</label>
                </div> -->
                <div class="payment-method-card">
                    <input type="radio" id="razorpay" name="paymentMethod" value="razorpay">
                    <label for="razorpay">Razorpay</label>
                </div>                
                <div class="payment-method-card">
                    <input type="radio" id="wallet" name="paymentMethod" value="wallet">
                    <label for="wallet">Wallet</label>
                </div>
                <div class="payment-method-card">
                    <input type="radio" id="cashOnDelivery" name="paymentMethod" value="cashOnDelivery">
                    <label for="cashOnDelivery">Cash on Delivery</label>
                </div>
                <div>
                    <% if (message !== 'none') { %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="checkout__order">
                    <h5>Your order</h5>
                    <div class="checkout__order__product">
                        <ul>
                            <li>
                                <span class="top__text">Product</span>
                                <span class="top__text__right">Price</span>
                            </li>
                            <% cart.forEach(function(product) { %>
                              <li>
                                <%= product.product.productName %>
                                <% if(product.offerPrice > 0){%>
                                <span>₹ <%= product.offerPrice %></span>
                                <%}else{%>
                                <span>₹ <%= product.price %></span>
                                <%}%>
                              </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="checkout__order__total">
                        <ul>
                            <li>Subtotal <span>₹ <%= (parseFloat(totalPrice) + parseFloat(dis)).toFixed(2) %></span></li>
                            <li>Discount <span>₹<%= dis %></span></li>
                            <li>Shipping <span>₹0.00</span></li>
                            <li>Total <span>₹ <%= totalPrice %></span></li>
                        </ul>
                    </div>
                    <button type="submit" id="proceedBtn" style="width: 300px; height: 50px;" class="btn btn-primary btn-lg" disabled>Proceed</button>
                </div>
            </div>
        </div>
    </form>
        
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.9/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<script>
    const radioButtons = document.querySelectorAll('input[name="paymentMethod"]');
    const proceedBtn = document.getElementById('proceedBtn');

    radioButtons.forEach(radio => {
        radio.addEventListener('change', function() {
            if (this.checked) {
                proceedBtn.disabled = false;
                proceedBtn.classList.add('active'); // Add 'active' class when enabled
            }
        });
    });

    // Initial state
    proceedBtn.disabled = true;
    proceedBtn.classList.remove('active'); // Ensure 'active' class is removed when disabled
</script>
   <!-- Js Plugins -->
   <script src="js/jquery-3.3.1.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/jquery.magnific-popup.min.js"></script>
   <script src="js/jquery-ui.min.js"></script>
   <script src="js/mixitup.min.js"></script>
   <script src="js/jquery.countdown.min.js"></script>
   <script src="js/jquery.slicknav.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/jquery.nicescroll.min.js"></script>
   <script src="js/main.js"></script>
   </body>
   
       </body>
       </html>